body{
    background-color: beige;
    margin:auto;
}
.title{
    margin-left:25%;
    margin-right:25%;
    position: relative;
    text-align: center;
    background-color: black;
    box-shadow: whitesmoke;
    color:white;
    font-size:20px;
    width:50%;
    height:50;
}
.img{
    position: relative;
    background-color:black;
    box-shadow:whitesmoke;
    width:75%;
    height:50;
}
.links{
    position: relative;
    text-align: center;
    background-color:black;
    box-shadow:whitesmoke;
    color:white;
}  
.links li{
    list-style-type: none;
}
.team-assignments{
    position: relative;
    text-align: center;
    background-color:black;
    box-shadow:whitesmoke;
    color:white;
}